[build-system]
requires = ["setuptools>=64", "wheel"]
build-backend = "setuptools.build_meta"


[tool.pytest.ini_options]
markers = [
    "happy_path: tests standard working scenarios",
    "edge_case: tests corner-case scenarios"
]
